/* Regla CSS consta de 2 partes
1) el selector
2) bloque de declaraciones:{
atriburos: valor;
atributo-de-mas-de-dos-palabras: otro-valor;
} */

/* Son mala práctica porque son bloqueantes a la hora de que el navegador lee ésta instrucción */
@import url("otra-hoja.css");

h1{
    color: orangered;
    background-color: black;
}

/* 
Selectores básicos: 
1) Etiquetas - son elementos HTML
2) Identificadores - atributo id - #
3) Clases - atributo class - .
 */

 p{
    color: midnightblue;
 }

 /* Dar estilos con ID se considera un antipatron */
 #parrafo-2{
    background-color: skyblue;
 }

 /* Dar estilos con clase nos permite reutilizar nuestro código css */
 .bg-steelblue{
    background-color: steelblue;
 }

 .bg-skyblue{
    background-color: skyblue;
 }

 .text-20{
    font-size: 20px;
 }

 .text-32{
    font-size: 32px;
 }

 .text-white{
    color: white;
 }

 .hijos-directos>li{
    background-color: thistle;
 }
 
 .hijos-descendientes b {
    background-color: thistle;
 }

 /* Los selectores de hermanos van a aplicar a los elementos que son hermanos y que estén por debajo del elemento tomado de referencia */
 .hermanos-general ~ li{
background-color: thistle;
 }

 .hermanos-adyacentes + li{
   background-color: thistle;
    }


